<div th:replace="~{fragments/geral::modelo}">
  <div th:fragment="conteudo">
    <h1>Mensagens recebidas</h1>
    <table class="table table-striped table-responsive-md">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="msg : ${mensagensRecebidas}">
          <td th:text="${msg.remetente.nome}"></td>
          <td th:text="${msg.mensagem}"></td>
        </tr>
      </tbody>
    </table>
    
    <h1>Mensagens enviadas</h1>
    <table class="table table-striped table-responsive-md">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="msg : ${mensagensEnviadas}">
          <td th:text="${msg.destinatario.nome}"></td>
          <td th:text="${msg.mensagem}">teste</td>
        </tr>
      </tbody>
    </table>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nova mensagem</h5>
        <form th:action="@{envia-mensagem}" method="post" th:object="${mensagem}">
          <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <input class="form-control" type="text" th:field="*{mensagem}">
          </div>
          <div class="mb-3">
            <label for="destinatario.id" class="form-label">Destino</label>
            <select th:field="*{destinatario.id}" class="form-control">
              <option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.nome}"></option>
            </select>
          </div>
          <input class="btn btn-primary" type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>